/*
.card {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
*/

.btn-divider {
    color: #ccc;
}

/* Custom adaption of card-text class from bootstrap */
.card-text {
    height: 100px;
}

textarea {
    min-height: 150px;
}

.navbar {
    background-color: #f2f4fb;
    border-bottom: 1px solid #ccc;
}

.creators {
    font-size: 13px;
}